/lab1/.venv
/lab1/.idea
/lab1/.env
/lab1/__pycache__
/lab1/app/static/


/DnD Flask/DnD/.env
/DnD Flask/DnD/.idea
/DnD Flask/DnD/.venv
/DnD Flask/DnD/__pycache__
/DnD Flask/DnD/app/static
/DnD Flask/DnD/app/__pycache__
/DnD Flask/DnD/migrations/__pycache__