.idea

/lab1/.venv
/lab1/.idea
/lab1/.env
/lab1/__pycache__
/lab1/app/static/


/DnD Flask/DnD/.env
/DnD Flask/DnD/.idea
/DnD Flask/DnD/.venv
/DnD Flask/DnD/__pycache__
/DnD Flask/DnD/app/static
/DnD Flask/DnD/app/__pycache__
/DnD Flask/DnD/migrations/__pycache__

/DnD React/dndreact/.idea
/DnD React/dndreact/node_modules
/DnD React/dndreact/dnd-app/node_modules/
/DnD React/dndreact/dnd-app/public/
/DnD React/dndreact/dnd-app/src/assets/

DnD_React/
DnD_Flask/

/Backend/DND/.venv
/Backend/DND/app/static
/Backend/DND/app/templates
/Backend/DND/__pycache__
/Backend/DND/.env
/Backend/DND/dnd.db
/Backend/DND/instance

/Frontend/dnd-app/node_modules
/Frontend/dnd-app/public/assets
/Frontend/dnd-app/src/assets