{% extends 'base.html' %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style-reset.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style-index-reg-auth.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/header-footer-style.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/show-move.css') }}">
{% endblock %}

{% block title %}
    <title>Dungeons and Dragons</title>
{% endblock %}

{% block content %}
    <main>

        <div class="poster">
            <div class="poster-top"><p>BECOME A DUNGEON MASTER</p></div>
            <div class="poster-big-logo" id="posterLogo"></div>
        </div>

        <div class="character">
            <div class="character-content">
                <div class="character-text-n-button" id="characterTextNButton">
                    <div class="character-text" id="characterButton">
                        <p>Створіть свого першого персонажа тут</p>
                    </div>
                    <a href="charlist.html">
                        <div class="character-button" id="characterText">
                            <p>Створити</p>
                        </div>
                    </a>
                </div>
                <div class="character-right-logo"><img src="{{ url_for('static', filename='img/char-dragon.png') }}">
                </div>
            </div>
        </div>

        <div class="bestiary">
            <div class="character-content">
                <div class="character-right-logo bestiary-pic"><img
                        src="{{ url_for('static', filename='img/bestiary-pic.png') }}"></div>
                <div class="character-text-n-button bestiary-text-n-button" id="bestiaryTextNButton">
                    <div class="character-text bestiary-text">
                        <p>Бестіарій<br>(Правила та фішки гри)</p>
                    </div>
                    <a href="/bestiary/aboleth">
                        <div class="character-button">
                            <p>Дізнатися</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div class="dice">
            <div class="character-content">
                <div class="character-text-n-button" id="diceTextNButton">
                    <div class="character-text">
                        <p>Рандомайзер дайсів</p>
                    </div>
                    <a href="/dice.html">
                        <div class="character-button dice-button">
                            <p>Дізнатися</p>
                        </div>
                    </a>
                </div>
                <div class="character-right-logo dice-pic"><img
                        src="{{ url_for('static', filename='img/dice-pic.png') }}"></div>
            </div>
        </div>
    </main>

    <div class="merge">
        <div class="merge-div">
            <div class="merge-div-pic"><img src="{{ url_for('static', filename='img/merge-pic.jpg') }}"></div>
            <div class="merge-div-text-n-button">
                <div class="merge-div-text">
                    <p>Мерч<br>Dungeons and Dragons</p>
                </div>
                <a href="/merche.html">
                    <div class="character-button merge-div-button"><p>Дізнатися</p></div>
                </a>
            </div>
        </div>
    </div>
    <form action="" method="GET">
        <div class="contacts">
            <div class="contacts-div">
                <div class="contacts-address-info">
                    <div class="contacts-address">
                        <div class="contacts-head"><p>адреса</p></div>
                        <div class="contacts-line"><p>14 Болсуновська</p></div>
                        <div class="contacts-line"><p>Київ, Україна</p></div>
                    </div>
                    <div class="contacts-info">
                        <div class="contacts-head"><p>інформація</p></div>
                        <div class="contacts-line"><p>info@yourdomain.com</p></div>
                        <div class="contacts-line"><p>(+380) 12004509</p></div>
                    </div>
                </div>
                <div class="contacts-inputs">
                    <div class="contacts-inputs-top">
                        <div class="contacts-inputs-name"><input type="text"
                                                                 onkeypress="return event.charCode < 48 || event.charCode > 57"
                                                                 placeholder="Ваше їм'я" id="indexInputName"
                                                                 name="text_name"></div>
                        <div class="contacts-inputs-email"><input type="text" placeholder="Ваш e-mail*"
                                                                  id="indexInputEmail" name="email"></div>
                    </div>
                    <div class="contacts-inputs-message"><textarea placeholder="Ваше повідомлення*"
                                                                   id="indexInputMessage" name="text_area"></textarea>
                    </div>
                </div>
            </div>
            <div class="center-div"><input type="submit" class="submit-button" id="contactsButton" value="Надіслати">
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/script-index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ap-animations.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script-scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script-header.js') }}"></script>
{% endblock %}