{% extends 'base.html' %}


{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style-reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/header-footer-style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style-merche.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style-scrollbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/show-move.css')}}">
{% endblock %}

{% block title %}
    <title>Мерч</title>
{% endblock %}

{% block content %}
<main>
        <div class="poster">
            <div class="poster-big" id="posterBig"><p>МЕРЧ</p></div>
            <div class="poster-bot" id="posterBot"><p>Якщо ви шукаєте оригінальний подарунок для свого друга, який також цікавиться настільними іграми, то Мерч Dungeon and Dragons - ідеальний вибір. Ви можете знайти багато цікавих і унікальних предметів, які не залишать байдужими навіть справжніх фанатів гри.</p></div>
        </div>
        <div class="merche-dice">
            <div class="dice-container">
                <div class="banner-product">
                    <div class="product-container">
                        <div class="head-flex"><div class="product-head"><p>Продукція</p></div></div>
                        <div class="product-element-list">
                            <div class="product-element">
                                <div class="product-pic-frame"><img src="{{url_for('static', filename='img/merche-dice-1.png')}}"></div>
                                <div class="product-type"><p>Набір кубиків</p></div>
                                <div class="product-name"><p>The Witcher Dice Set</p></div>

                                <div class="buy-button"><a href="http://surl.li/haaqm"><p>Придбати</p></a></div>
                            </div>
                            <div class="product-element">
                                <div class="product-pic-frame"><img src="{{url_for('static', filename='img/merche-dice-2.png')}}"></div>
                                <div class="product-type"><p>Набір кубиків</p></div>
                                <div class="product-name"><p>The Witcher Dice Set</p></div>

                                <div class="buy-button"><a href="http://surl.li/haaqm"><p>Придбати</p></a></div>
                            </div>
                            <div class="product-element">
                                <div class="product-pic-frame"><img src="{{url_for('static', filename='img/merche-dice-3.png')}}"></div>
                                <div class="product-type"><p>Набір кубиків</p></div>
                                <div class="product-name"><p>The Witcher Dice Set</p></div>

                                <div class="buy-button"><a href="http://surl.li/haaqm"><p>Придбати</p></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="banner banner-img1">
                        <div class="banner-content banner-one" id="bannerOne">
                            <div class="banner-head"><p>Дайси</p></div>
                            <div class="banner-text"><p>Універсальні набори, що складається з гральних кубиків - чотиригранника, шестигранника, восьмигранника, десятигранника, десятигранника з числами другого розряду, дванадцятигранника і двадцятигранника.</p></div>
                        </div>
                        <div class="banner-button"><a href="http://surl.li/haaqm"><p>Дізнатися більше</p></a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="line"></div>

        <div class="merche-dice">
            <div class="dice-container">
                <div class="banner-product">
                    <div class="banner banner-img2">
                        <div class="banner-content banner-two" id="bannerTwo">
                            <div class="banner-head"><p>Фігурки</p></div>
                            <div class="banner-text"><p>Ви знайдете фігурки різних розмірів та матеріалів від маленьких деталей до великих. Усі фігурки створені з уваженням до деталей та дизайну, що забезпечує високу якість кожного продукту.</p></div>
                        </div>
                        <div class="banner-button"><a href="http://surl.li/haapw"><p>Дізнатися більше</p></a></div>
                    </div>
                    <div class="product-container">
                        <div class="head-flex"><div class="product-head"><p>Продукція</p></div></div>
                        <div class="product-element-list product-element-list-right">
                            <div class="product-element product-element-reverse">
                                <div class="product-pic-frame"><img src="{{url_for('static', filename='img/figure_1.png')}}"></div>
                                <div class="product-type"><p>Фігурка</p></div>
                                <div class="product-name"><p>Dragonborn knight</p></div>

                                <div class="buy-button"><a href="http://surl.li/haapw"><p>Придбати</p></a></div>
                            </div>
                            <div class="product-element product-element-reverse">
                                <div class="product-pic-frame"><img src="{{url_for('static', filename='img/figure_2.png')}}"></div>
                                <div class="product-type"><p>Фігурка</p></div>
                                <div class="product-name"><p>Dragonborn knight</p></div>

                                <div class="buy-button"><a href="http://surl.li/haapw"><p>Придбати</p></a></div>
                            </div>
                            <div class="product-element product-element-reverse">
                                <div class="product-pic-frame"><img src="{{url_for('static', filename='img/figure_3.png')}}"></div>
                                <div class="product-type"><p>Фігурка</p></div>
                                <div class="product-name"><p>Dragonborn knight</p></div>

                                <div class="buy-button"><a href="http://surl.li/haapw"><p>Придбати</p></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="line"></div>

        <div class="merche-dice">
            <div class="dice-container">
                <div class="banner-product">
                    <div class="product-container">
                        <div class="head-flex"><div class="product-head"><p>Продукція</p></div></div>
                        <div class="product-element-list">
                            <div class="product-element">
                                <div class="product-pic-frame-special"><img src="{{url_for('static', filename='img/book_1.png')}}"></div>
                                <div class="product-type"><p>Стартовій набір</p></div>
                                <div class="product-name"><p>Essentials Kit</p></div>

                                <div class="buy-button"><a href="http://surl.li/haaqr"><p>Придбати</p></a></div>
                            </div>
                            <div class="product-element">
                                <div class="product-pic-frame-special"><img src="{{url_for('static', filename='img/book_2.png')}}"></div>
                                <div class="product-type"><p>Стартовій набір</p></div>
                                <div class="product-name"><p>Essentials Kit</p></div>

                                <div class="buy-button"><a href="http://surl.li/haaqr"><p>Придбати</p></a></div>
                            </div>
                            <div class="product-element">
                                <div class="product-pic-frame-special"><img src="{{url_for('static', filename='img/book_3.png')}}"></div>
                                <div class="product-type"><p>Стартовій набір</p></div>
                                <div class="product-name"><p>Essentials Kit</p></div>

                                <div class="buy-button"><a href="http://surl.li/haaqr"><p>Придбати</p></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="banner banner-img3">
                        <div class="banner-content banner-three" id="bannerThree">
                            <div class="banner-head"><p>Стартовий набір</p></div>
                            <div class="banner-text"><p>Кожен стартовий набір включає основні правила гри, гральний кубик, карти персонажів та інше обладнання, що допоможе гравцям почати гру. Набори містять все, що потрібно, щоб почати грати з друзями чи в сім'ї</p></div>
                        </div>
                        <div class="banner-button-special"><a href="http://surl.li/haaqr"><p>Дізнатися більше</p></a></div>
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/script-header.js')}}"></script>
    <script src="{{url_for('static', filename='js/script-merche.js')}}"></script>
    <script src="{{url_for('static', filename='js/script-scrollbar.js')}}"></script>
{% endblock %}