.header {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    align-items: center;
}

.headerFrame {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 60px;
}

.headerNav {
    display: flex;
}

.headerLogo {
    position: relative;
}

.headerNav p {
    margin-left: 32px;
    margin-top: 20px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}

.headerNav a {
    text-decoration: none;
}

.headerNavElement {
    position: relative;
    text-decoration: none;
}

.headerNavElement p {
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.headerNavElement::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: red;
    top: 115%;
    left: 51%;
    transform: translate(-50%, 0%);
    transition: 0.3s;
}

.headerNavElement:hover::after {
    width: 100%;
}

.accSvgContainer {
    position: relative;
    margin-top: 10px;
    margin-left: 190px;
}

.userInfoWindow {
    margin-left: 120px;
    z-index: 1;
    transition: 1s !important;
    opacity: 1;
    position: absolute;
    left: -150px;
    top: 100px;

    text-align: center;

    width: 300px;
    height: 204px;

    background: url("../../assets/img/user_info_img.png");
    box-shadow: 0px 4px 17px 17px rgba(0, 0, 0, 0.6);

    border-radius: 25px;
    opacity: 0;

    pointer-events: none;
}

@media (max-width: 1280px) {
    .user_info_window {
        left: -280px;
    }
}

.userInfoWindowText {
    position: relative;
    height: 46px;

    top: 50%;
    /* top: calc(50% - 46px/2 - 60px); */

    font-family: 'Zen Kaku Gothic Antique';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 55px;
    /* or 367% */

    letter-spacing: 1.65px;

    color: #FFFFFF;

}

.showRight {
    opacity: 1 !important;
    transform: translateX(-200px) !important;
    transition: opacity 1s, transform 1s;
    pointer-events: auto;
}

.a_text {
    text-decoration: none;
    color: white;
}

.navdiv1{
    margin-top: 7%;
}

.navdiv2{
    display: flex;
}

.userInfoWindowButton {
    cursor: pointer;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;

    width: 50%;

    background: rgb(199, 24, 24);

    border-radius: 5px;

    text-align: center;
    color: #FFFFFF;
    transition: 0.3s;
}

.userInfoWindowButton:hover {
    background: rgb(97, 15, 15);
}