
.poster {
  width: 100%;
  height: 828px;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/poster.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.poster-top {
  display: flex;
  padding-top: 73px;
  justify-content: center;
  opacity: 1;
}

.poster-top p {
  color: white;
  font-family: 'Elder Futhark', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.poster-big-logo {
  margin: 327px auto 0 auto;
  background-image: url("../img/poster-big-logo.png");
  width: 588px;
  height: 206px;
  opacity: 0;
}

.show-down {
  opacity: 1 !important;
  transform: translateY(-120px) !important;
  transition: opacity 1s, transform 1s;
}

.show-left {
  opacity: 1 !important;
  transform: translateX(120px) !important;
  transition: opacity 1s, transform 1s;
}

.show-right {
  opacity: 1 !important;
  transform: translateX(-120px) !important;
  transition: opacity 1s, transform 1s;
}

.character {
  width: 100%;
  height: 847px;
  clip-path: polygon(0% 5%, 100% 0, 100% 100%, 0 100%);
  background: black;
}

.character-content {
  position: relative;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  width: 1200px;
  height: 393px;
  padding-top: 500px;
}

.character-text-n-button {
  height: 393px;
  margin-top: -300px;
  margin-left: -120px;
  opacity: 0;
}

.character-button {
  cursor: pointer;
  display: flex;
  justify-items: center;
  justify-content: center;
  height: 60px;
  width: 193px;
  background: #FF0202;
  border-radius: 6px;
  margin-top: 93px;
  color: #fff;
  background-color: transparent;
  border: 3px solid #FF0202;
  transition: 0.3s;
  color: #FF0202;
}

.character-button:hover {
  transition: 0.3s;
  box-shadow: 0 0 10px 0 #FF0202 inset, 0 0 20px 2px #FF0202;
  border: 3px solid #FF0202;
}

.character-button p {
  margin-top: 16px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}

.character-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  width: 570px;
  letter-spacing: 1.8px;
  color: #FFFFFF;
}

.character-right-logo {
  margin-top: -400px;
}

.character-right-logo img {
  width: 542px;
  height: 580px;
}


.bestiary {
  background: #000000;
  height: 854px;
  clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0 100%);
}

.bestiary-text-n-button {
  margin-right: -160px;
}

.bestiary-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 1.65px;
}

.bestiary-pic img {
  height: 585px;
  width: 578px;
}

.dice {
  height: 847px;
  clip-path: polygon(0% 5%, 100% 0, 100% 100%, 0 100%);
  background: black;
}

.dice-button {
  margin-top: 200px;
}

.dice-pic img {
  width: 573px;
  height: 567px
}

.merge {
  height: 847px;
}

.merge-div {
  display: flex;
  margin: 104px 40px 0 40px;
  justify-content: center;
}

.merge-div-pic img {
  width: 666px;
  height: 640px
}

.merge-div-text-n-button {
  margin-left: 25px;
  width: 666px;
  height: 640px;
  background-color: #000000;
}

.megre-div-observer {
  opacity: 0;
  padding-top: 90px;
}

.merge-div-text {
  margin-left: 56px;
  margin-top: 184px;
}

.merge-div-text p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 1.65px;
  color: #FFFFFF;
}

.merge-div-button {
  margin-left: 63px;
}

.contacts {
  height: 388px;
}

.contacts-div {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}

.contacts-info {
  margin-top: 45px;
}

.contacts-head p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.contacts-line p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}

.contacts-inputs-top {
  display: flex;
  margin-bottom: 30px;
}

.contacts-inputs-top input {
  width: 346px;
  height: 58px;
  padding: 18px 41px;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  transition: 0.3s;
}

.contacts-inputs-top input:focus {
  outline: 0;
  /* -webkit-box-shadow: 0px 0px 32px -1px rgb(255, 255, 255);
-moz-box-shadow: 0px 0px 32px -1px rgb(255, 255, 255);
box-shadow: 0px 0px 32px -1px rgb(255, 255, 255); */
transition: 0.3s;
}

.contacts-inputs-top input::placeholder {
  transition: all 0.3s;
  transform: translateY(0);
}

.contacts-inputs-top input:focus::placeholder {
  font-size: 12px;
  transform: translateY(-16px);
}

.contacts-inputs-name {
  margin-right: 30px;
}

.contacts-inputs-message textarea {
  width: 723px;
  height: 128px;
  padding: 20px 41px;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.contacts-inputs-message textarea::placeholder {
  transition: all 0.3s;
  transform: translateY(0);
}

.contacts-inputs-message textarea:focus::placeholder {
  font-size: 12px;
  transform: translateY(-15px);
  transition: all 0.3s;
}

.contacts-inputs-message textarea:focus {
  outline: 0;
}

.contacts-button {
  margin-top: 14.5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF
}

.contacts-button {
  border-radius: 6px;
  margin: 82px 40.9%;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  width: 192px;
  height: 51px;
  transition: all 0.5s;
  cursor: pointer;
}

.contacts-button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.contacts-button::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.contacts-button:hover {
  padding-right: 25px;
}

.contacts-button:hover::after {
  opacity: 1;
  right: 0;
}

.center-div{
  display: flex;
  justify-content: center;
}
.submit-button{
  height: 60px;
  width: 225px !important;
  background: #000000;
  border-radius: 5px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
border: 1px solid #000000;
/* identical to box height, or 150% */
transition: 0.4s;
text-align: center;
cursor: pointer;
color: rgb(245, 245, 245);
margin-top: 40px;
}
.submit-button:hover{
  border: 1px solid  #B41616;
  background: #000000;
  transition: 0.4s;
  color: #e70707;
}
.submit-button input:focus{
  outline: 0;
}


/* Ауф */
